agentAddress udp:161,udp6:[::1]:161
                                                 #  system + hrSystem groups only
view   systemonly  included   .1.3.6.1.2.1.1
view   systemonly  included   .1.3.6.1.2.1.25.1
                                                 #  Full access from the local host
                                                 #  Default access to basic system info
 rocommunity public  default    -V systemonly
                                                 #  Full access from an example network
                                                 #     Adjust this network address to match your local
                                                 #     settings, change the community string,
                                                 #     and check the 'agentAddress' setting above
                                                 #  Full read-only access for SNMPv3
 rouser   authOnlyUser
                                                 #  Full write access for encrypted requests
                                                 #     Remember to activate the 'createUser' lines above
sysContact     Paul D Mitchell <paul.d.mitchell@ed.ac.uk>
                                                 # Application + End-to-End layers
sysServices    72
disk       /     10%
disk       /var  10%
includeAllDisks  10%
                               # Unacceptable 1-, 5-, and 15-minute load averages
load   12 10 5
                                    #   send SNMPv1  traps
 trapsink     localhost public
                                    #   send SNMPv2c traps
                                    #   send SNMPv2c INFORMs
                                   # Remember to activate the 'createUser' lines above
iquerySecName   internalUser       
rouser          internalUser
                                   # generate traps on UCD error conditions
defaultMonitors          yes
                                   # generate traps on linkUp/Down
linkUpDownNotifications  yes
master          agentx
rwuser opennms
createUser opennms MD5 <%= "#{@data_bag[:passphrase]} DES #{@data_bag[:encpassphrase]}" %>
